<template>
  <div class="home">
    
    <Search v-on:sendToHome="sendToApp($event)"/>

  </div>
</template>

<script>
import Search from '@/components/Search.vue'

export default {
  name: 'Home',

  components: {
    Search
  },

  methods: {
    sendToApp(data) {
      this.$emit('sendToApp', data)
    }
  }
}
</script>
