<template>
  <div class="result">
  
    <Place :sendToPlace="sendToResult"/>

    <Degrees :sendToDegrees="sendToResult"/>

    <Info :sendToInfo="sendToResult"/>
    
  </div>
</template>

<script>
import Place from '@/components/Place.vue'
import Degrees from '@/components/Degrees.vue'
import Info from '@/components/Info.vue'

export default {
  name: 'Result',

  components: {
    Place,
    Degrees,
    Info
  },

  props: [
    'sendToResult',
  ],
}
</script>

<style scoped lang="scss">
  .result {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
