<template>
  <div class="degrees">
    <div class="min">
      <p>
        Mínima
      </p>

      <p>
        {{ kelvinToCelsius(this.sendToDegrees.main.temp_min) }}ºC
      </p>
    </div>

    <div class="big">
      <div :class="'icon ' + dayTime">
        <img
          :src="'http://openweathermap.org/img/wn/' + sendToDegrees.weather[0].icon + '@2x.png'"
          :alt="sendToDegrees.weather[0].main"
          :title="sendToDegrees.weather[0].description"
        />
      </div>
      <div class="text">
        <p>
          {{ kelvinToCelsius(this.sendToDegrees.main.temp) }}
        </p>
        <span>
          ºC
        </span>
      </div>

      <div class="text">
        <p class="info">
          {{ sendToDegrees.weather[0].description }}
        </p>
      </div>
    </div>

    <div class="max">
      <p>
        Máxima
      </p>

      <p>
        {{ kelvinToCelsius(this.sendToDegrees.main.temp_max) }}ºC
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Degrees',

  data: () => {
    return {
      dayTime: ''
    }
  },

  props: [
    'sendToDegrees',
  ],

  methods: {
    kelvinToCelsius(e) {
      e = parseFloat(e)
      let result = Math.round(e - 273.15)
      return result
    },

    getHour() {
      let date = new Date()
      if (date.getHours() >= 0 && date.getHours() < 5)
        { this.dayTime = 'dawn' }
      else if (date.getHours() >= 5 && date.getHours() < 12)
        { this.dayTime = 'morning' }
      else if (date.getHours() >= 12 && date.getHours() < 18)
        { this.dayTime = 'afternoon' }
      else { this.dayTime = 'evening' }
    }
  },
  
  mounted() {
    this.getHour()
  }
}
</script>

<style scoped lang="scss">
  .degrees {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 40px;
    width: 100%;

    .min, .max, .big {
      border: 1px solid #767676;
      padding: 15px;
      border-radius: 5px;
      transition: all .3s ease;

      &:hover {
        transform: translate(0, -10px);
        -webkit-box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.20);
        -moz-box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.20);
        box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.20);
      }
    }

    .min, .max {
      p {
        margin: 5px;
        text-align: center;
      }
      p:first-child {
        color: #250587;
        border-bottom: 1px solid #767676;
        padding-bottom: 3px;
      }
    }
  }

  .big {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 40px !important;

    .icon {
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      border-radius: 50%;

      &.dawn {
        background: rgba(0,15,54,1);
        background: -moz-linear-gradient(left, rgba(0,15,54,1) 0%, rgba(0,0,87,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,15,54,1)), color-stop(100%, rgba(0,0,87,1)));
        background: -webkit-linear-gradient(left, rgba(0,15,54,1) 0%, rgba(0,0,87,1) 100%);
        background: -o-linear-gradient(left, rgba(0,15,54,1) 0%, rgba(0,0,87,1) 100%);
        background: -ms-linear-gradient(left, rgba(0,15,54,1) 0%, rgba(0,0,87,1) 100%);
        background: linear-gradient(to right, rgba(0,15,54,1) 0%, rgba(0,0,87,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000f36', endColorstr='#000057', GradientType=1 );
      }
      &.morning {
        background: rgba(184,241,255,1);
        background: -moz-linear-gradient(left, rgba(184,241,255,1) 0%, rgba(110,224,255,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(184,241,255,1)), color-stop(100%, rgba(110,224,255,1)));
        background: -webkit-linear-gradient(left, rgba(184,241,255,1) 0%, rgba(110,224,255,1) 100%);
        background: -o-linear-gradient(left, rgba(184,241,255,1) 0%, rgba(110,224,255,1) 100%);
        background: -ms-linear-gradient(left, rgba(184,241,255,1) 0%, rgba(110,224,255,1) 100%);
        background: linear-gradient(to right, rgba(184,241,255,1) 0%, rgba(110,224,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8f1ff', endColorstr='#6ee0ff', GradientType=1 );
      }
      &.afternoon {
        background: rgba(110,224,255,1);
        background: -moz-linear-gradient(left, rgba(110,224,255,1) 0%, rgba(252,177,96,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(110,224,255,1)), color-stop(100%, rgba(252,177,96,1)));
        background: -webkit-linear-gradient(left, rgba(110,224,255,1) 0%, rgba(252,177,96,1) 100%);
        background: -o-linear-gradient(left, rgba(110,224,255,1) 0%, rgba(252,177,96,1) 100%);
        background: -ms-linear-gradient(left, rgba(110,224,255,1) 0%, rgba(252,177,96,1) 100%);
        background: linear-gradient(to right, rgba(110,224,255,1) 0%, rgba(252,177,96,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ee0ff', endColorstr='#fcb160', GradientType=1 );
      }
      &.evening {
        background: rgba(0,11,84,1);
        background: -moz-linear-gradient(left, rgba(0,11,84,1) 0%, rgba(5,0,82,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,11,84,1)), color-stop(100%, rgba(5,0,82,1)));
        background: -webkit-linear-gradient(left, rgba(0,11,84,1) 0%, rgba(5,0,82,1) 100%);
        background: -o-linear-gradient(left, rgba(0,11,84,1) 0%, rgba(5,0,82,1) 100%);
        background: -ms-linear-gradient(left, rgba(0,11,84,1) 0%, rgba(5,0,82,1) 100%);
        background: linear-gradient(to right, rgba(0,11,84,1) 0%, rgba(5,0,82,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000b54', endColorstr='#050052', GradientType=1 );
      }

      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    .text {
      display: flex;
      justify-content: center;
    }

    p {
      font-weight: bold;
      color: #250587;
      font-size: 70px;
      margin: 0;

      &.info {
        border-radius: 5px;
        font-size: 16px;
        padding: 3px 5px;
        background: #250587;
        color: #FFFFFF;
        font-weight: 300;
      }
    }

    span {
      margin: 15px auto;
      font-size: 20px;
    }
  }
</style>
