<template>
  <div class="info">
    <div>
      <p>
        Umidade:
        <span>
          {{ sendToInfo.main.humidity }}%
        </span>
      </p>
      <p>
        Nascer do Sol:
        <span>
          {{ convertData(this.sendToInfo.sys.sunrise) }}
        </span>
      </p>
      <p>
        Pôr do sol:
        <span>
          {{ convertData(this.sendToInfo.sys.sunset) }}
        </span>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Info',

  data: () => {
    return {
      sunrise: '',
      sunset: '',
    }
  },

  props: [
    'sendToInfo',
  ],

  methods: {
    convertData(e) {
      var date = new Date(e * 1000)
      return date.toLocaleTimeString()
    },
  },
}
</script>

<style scoped lang="scss">
.info {
  width: 100%;
  border-top: 1px solid #250587;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}

p {
  display: block;
  margin: 5px;
  text-align: right;

  span {
    border-radius: 5px;
    padding: 3px 5px;
    background: #250587;
    color: #FFFFFF;
  }
}
</style>
