<template>
  <div class="place">
    <div>
      <p class="city">
        {{ sendToPlace.name }} / {{ sendToPlace.sys.country }}
      </p>

      <p class="date">
        {{ finalDate }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Place',

  data: () => {
    return {
      finalDate: ''
    }
  },

  props: [
    'sendToPlace',
  ],

  methods: {
    getNow() {
      let days = ['Domingo','Segunda-feira','Terça-feira','Quarta-feira','Quinta-feira','Sexta-feira','Sábado']
      let months = ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro']

      let date = new Date()
      let weekday = days[date.getDay()]
      let day = date.getDate()
      let month = months[date.getMonth()]
      let year = date.getFullYear()

      let formattedDate = weekday + ', ' + day + ' de ' + month + ' de ' + year

      this.finalDate = formattedDate
    }
  },

  mounted() {
    this.getNow()
  },
}
</script>

<style scoped lang="scss">
.place {
  text-align: center;
  color: #250587;
  display: table;
}
p {
  margin: auto;
}
.city {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #797979;
}
</style>
