<template>
  <div class="search">
    
    <form
      action="#"
      class="container"
    >
        <div class="field">
          <input
            type="text"
            id="city"
            ref="city"
            placeholder="Encontre sua cidade"
            v-model="city"
          >

          <span
            class="error-message"
            v-if="error"
          >
            {{ errorMessage }}
          </span>
        </div>

        <button @click="validateForm">
          <span v-if="!loading">
            Buscar
          </span>

          <div
            class="loading"
            v-if="loading"
          >
            <div></div><div></div><div></div><div></div>
          </div>
        </button>
    </form>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Search',

  data: () => {
    return {
      city: '',

      loading: false,

      error: false,
      errorMessage: ''
    }
  },

  methods: {
    goToResult(data) {
      this.loading = false
      this.$emit('sendToHome', data)
      this.$router.push('Result')
    },

    cityNotFound() {
      this.loading = false
      this.error = true
      this.errorMessage = 'Cidade não encontrada'
    },

    validateForm() {
      if (this.city.length >= 1) {
        this.error = false
        this.loading = true

        let url = 'http://api.openweathermap.org/data/2.5/weather?q=' + this.city + '&appid=6892f56e41d52d3b2f4a9cda688edc82&lang=pt_br'

        setTimeout(() => {
          axios.get(url)
            .then((response) => {
                this.goToResult(response.data)
            })
            .catch((error) => {
              if (error.response) {
                  console.log(error.response.data)
                  console.log(error.response.status)
                  console.log(error.response.headers)
              } else if (error.request) {
                  console.log(error.request)
              } else {
                  console.log('Error', error.message)
              }
              console.log(error.config)
              this.cityNotFound()
            })
        }, 1000)
      } else {
        this.error = true
        this.errorMessage = 'Você precisa preencher uma cidade'
      }
    },
  }
}

</script>

<style scoped lang="scss">
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
