<template>
  <div id="app">
    <router-view
      v-on:sendToApp="receiveData($event)"
      :sendToResult="returnedData"
    />
  </div>
</template>

<script>
export default {
  name: 'Search',
  
  data: () => {
    return {
      returnedData: []
    }
  },

  methods: {
    receiveData(data) {
      this.returnedData = data
    }
  }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  color: #797979;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 500px;
}

.field {
  width: 100%;
  position: relative;
  margin-bottom: 20px
}

input {
  text-align: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #797979;
  border-radius: 5px;
  transition: border .3s ease-in-out;

  &:focus {
    border: 1px solid #250587;
    border-right: 5px solid #250587;
    border-left: 5px solid #250587;
    outline: 1px solid transparent;
  }

  &::-webkit-input-placeholder,
  &:-moz-input-placeholder,
  &::placeholder {
    color: #797979;
  }
}

label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #797979;
  background: transparent;
  padding: 5px;
  display: table;
  transform: translateY(-50%);
  transition: transform .3s ease;
  transform-origin: 0% 100%;
  cursor: text;
}

button {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  background: #250587;
  color: #FFFFFF;
  padding: 10px 30px;
  border: 1px solid #250587;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    background: #FFFFFF;
    color: #250587;
    border: 1px solid #250587;

    .loading {
      div {
        background: #250587;
      }
    }
  }
}

.error-message {
  display: block;
  padding: 3px 5px;
  color: red;
  font-size: 12px;
  text-align: center;
}

.loading {
  display: inline-block;
  position: relative;
  width: 62px;
  height: 15px;

  div {
    position: absolute;
    top: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #FFFFFFFF;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 0px;
      animation: loading1 0.6s infinite;
    }
    &:nth-child(2) {
      left: 0px;
      animation: loading2 0.6s infinite;
    }
    &:nth-child(3) {
      left: 24px;
      animation: loading2 0.6s infinite;
    }
    &:nth-child(4) {
      left: 48px;
      animation: loading3 0.6s infinite;
    }
  }
}

@keyframes loading1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
</style>

